.navbar-brand, .nav-link{
    color:white !important;
}

#feed {
    /*border: 1px solid #d6caca;*/
    padding: 2%;
    background-color: ffffff7a;
    border-left: 0.3em solid #079af1b8;
    border-bottom: 1px solid #079af170;
}

#topicDiv {
    padding: 2%;
    background-color: ffffff7a;
}

.modal-dialog {
    height: 75%;
}



ul.ui-autocomplete {
    list-style: none;
}

.ui-menu{
    width:40%;
}

.ansDiv {
    border: 1px solid #d6caca;
    padding: 1%;
    background-color: #ffffffc2;
    border-left: 0.3em solid #079af1b8;
    border-bottom: 1px solid #079af170;
}

#quesDiv {
    background-color: #fffdfd;
    border: .05em solid #dcd1d1;
    padding: 1%;
    border-left: .3em solid #ecb611e6;
    border-bottom: 1px solid #ecb611e6;
}

.commntTxt{
    /*width: 30%;*/
}

.quesImg{
    border-radius:50%;
    width:3%;
}

.ansFont {
    font-family: monospace;
    background-color: #f1f1f1;
    padding: 1.5%;
    width: 60%;
}

#masterBody {
    background: url('image/gmail-bg.PNG');
    background-size: cover;
    background-attachment: fixed;
}

#loginDiv .card, #askQues .card, #dpDiv .card {
    margin-top: 3%;
}

#id_img{
    display:none;
}

.commentDiv {
    width: 30%;
}

.commentSpan {
    cursor: pointer;
    height: 3%;
    margin-top: 2%;
}

@media only screen and (min-width: 750px) {
    .commentSpan {
        cursor: pointer;
        height: 1.2%;
        margin-top: 2%;
    }

    .commentModal .modal-body {
        height: 25%;
    }

    #ansModal .modal-body {
        height: 29%;
    }

    #searchDiv {
        width: 100%;
    }

    #searchTxt {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 992px) {
    .commentSpan {
        cursor: pointer;
        height: 3%;
        margin-top: 2%;
    }
    .commentModal .modal-body {
        height: 75%;
    }

    #ansModal .modal-body {
        height: 81%;
    }

    #searchDiv {
        margin-left: 15%;
        width: 50%;
    }

    #searchTxt {
        width: 100%;
    }
}


    .ui-autocomplete.source:hover {
        background: #454545;
    }

.ui-menu .ui-menu-item a {
    background: red;
    height: 10px;
    font-size: 8px;
}

