{%extends 'master_page.html'%}
{% load static %}
<!--<!DOCTYPE html>-->
<!--<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>-->

    {%block content%}

    <div class="container" id="cont">
            <div class="card">
                <div id="topicDiv" class="row card-body">
                    <input type="hidden" value="{%csrf_token%}" id="hid_csrf" />
                    {% for t in topic %}
                    {% if t in follow %}
                    <h5 id="{{t.pk}}" style="cursor:pointer;" class="topClsunFollow"><span class="badge badge-success">{{t.name}} <i class="fas fa-times-circle"></i></span></h5>
                    {% else %}
                    <h5 style="cursor:pointer;" id="{{t.pk}}" class="topCls"><span class="badge badge-warning">{{t.name}} <i class="fas fa-plus-circle"></i></span></h5>
                    {% endif %}
                    &nbsp;
                    {% endfor %}

                </div>
            </div>

        <br />
            <div class="infinite-container" id="ansFeed">
                <input id="hidAvatar" type="hidden" value="{{user.userprofiles.avatar}}" />
                <input id="hidUser" type="hidden" value="{{user.username}}" />
                {% for ans in answer %}
                <div class="card infinite-item">
                    <div id="feed" class="card-body">
                        <div id="row">
                            <div>
                                <h5><span class="">{{ans.ques.name}}</span></h5>
                            </div>
                        </div>
                        <div class="" id="{{ans.pk}}_ans">
                            <div id="{{ans.created_by.id}}" class="" style="">
                                <img src="/static/image/{{ans.created_by.userprofiles.avatar}}" alt="img" class="quesImg" />
                                <span style="font-weight:bold">
                                    {{ans.created_by}}
                                </span>
                                <div>
                                    <small>{{ans.created_on}}</small>
                                </div>
                            </div>
                            <div style="margin-top:0.85%">
                                <div class="ansFont">{{ans.ans | safe}}</div>
                            </div>
                        </div>
                        {% if ans.pk in user_upvote%}
                        <span id="{{ans.pk}}" class="badge badge-Info upvote" style="cursor:pointer">Upvoted</span>
                        {% else %}
                        <span id="{{ans.pk}}" class="badge badge-warning upvote" style="cursor:pointer">Upvote</span>
                        {%endif%}
                        {% for up in  ans.upvote.all%}
                        <small>{{up.upvote_by}}</small>
                        {% endfor %}
                        <br />
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <textarea id="{{ans.pk}}Txt" class="commntTxt form form-control"></textarea>
                            </div>
                            <span id="{{ans.pk}}" class="badge badge-success commentSpan">Add comment</span>
                        </div>
                        <h6>Comments</h6>
                        <div class="commentDiv">
                            <div class="newComment"></div>
                            {% for comm in ans.comment.all|slice:":1" %}
                            <div id="{{comm.comment_by.id}}">
                                <img class="commentImg" src="/static/image/{{comm.comment_by.userprofiles.avatar}}" />
                                <span class="badge badge-Info">{{comm.comment_by}}</span>
                                <small>{{comm.comment}}</small>
                            </div>
                            <br />
                            {% endfor %}

                            {%if ans.comment.count > 0 %}
                            <a href="" data-toggle="modal" data-target="#{{ans.pk}}_cmntModal">View all comments</a>
                            {% else %}
                            <small class="noComment">No comments</small>
                            {% endif %}

                            <div id="{{ans.pk}}_cmntModal" class="modal fade commentModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="quesTitle">Comments</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body" style="">
                                            <div class="" style="width:170%">
                                                <div class="" id="{{ans.created_by.id}}" style="width:150%">
                                                    <img src="/static/image/{{ans.created_by.userprofiles.avatar}}" alt="img" style="" class="modalQuesImg" />
                                                    <span style="font-weight:bold">
                                                        {{ans.created_by}}
                                                    </span>
                                                    <div>
                                                        <small>{{ans.created_on}}</small>
                                                    </div>
                                                </div>
                                                <div style="margin-top:0.85%">
                                                    <div class="ansFont">{{ans.ans | safe}}</div>
                                                </div>
                                            </div>
                                            <div id="{{ans.pk}}_cmnt-body" style="height:65%;padding:1%;overflow-y:auto">
                                                {% for comm in ans.comment.all %}
                                                <div id="{{comm.comment_by.id}}">
                                                    <img class="modalCommentImg" src="/static/image/{{comm.comment_by.userprofiles.avatar}}" />
                                                    <span class="badge badge-Info">{{comm.comment_by}}</span>
                                                    <small>{{comm.comment}}</small>
                                                </div>
                                                <br />
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<br />-->
                {% endfor %}
            </div>
        {% if answer.has_next %}
        <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
        {% endif %}
        <div class="loading" style="display: none;">
            Loading...
        </div>
    </div>
    {%endblock%}
<!--</body>
</html>-->