{%extends 'master_page.html'%}
{% load static%}
{% block quesHome %}
    <!-- Modal -->
    <div id="ansModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ansTitle">Answer Question</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="ans-body" style="">
                        <form method="post">
                            {% csrf_token %}
                            <!--{{form1.as_p}}-->
                            {%include 'includes/form.html' %}
                            <input type="submit" class="btn btn-success" value="Post Answer" />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="cont">
        <div class="row topicDiv">
            
            {% for t in topic %}
            {% if t.follow.user == user %}
            <h4 id="{{t.pk}}" class="topCls"><span class="badge badge-Info">{{t.name}}</span></h4>
            &nbsp;
            {% endif %}
            {% endfor %}
        </div>
        <br />
        <div class="" id="">
            
            <div id="quesDiv">
                <div id="">
                    <img src="/static/image/{{question.created_by.userprofiles.avatar}}" alt="img" class="quesImg" />
                    <span style="font-weight:bold">
                        {{question.created_by}}
                    </span>
                    <div>
                        <small>{{question.created_on}}</small>
                    </div>
                    <h5><span class="">{{question.name}}</span></h5>
                    <span class="">{{question.desc|safe }}</span>
                    <a href="#ansModal" id="writeAns" data-toggle="modal">Write Answer</a>
                </div>
            </div>
            <br />
            <div>
                {% for ans in answer %}
                <div class="ansDiv">
                    <div class="">
                        <div class="" style="">
                            <img src="/static/image/{{ans.created_by.userprofiles.avatar}}" alt="img" class="quesImg" />
                            <span style="font-weight:bold">
                                {{ans.created_by}}
                            </span>
                            <div>
                                <small>{{ans.created_on}}</small>
                            </div>
                        </div>
                        <div style="margin-top:0.85%">
                            <p class="ansFont">{{ans.ans | safe}}</p>
                        </div>
                    </div>

                    {% if ans.pk in user_upvote%}
                    <span id="{{ans.pk}}" class="badge badge-Info upvote" style="cursor:pointer">Upvoted</span>
                    {% else %}
                    <span id="{{ans.pk}}" class="badge badge-warning upvote" style="cursor:pointer">Upvote</span>
                    {%endif%}
                    {% for up in ans.upvote.all%}
                    <small>{{up.upvote_by}}</small>
                    {% endfor %}
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <textarea id="{{ans.pk}}Txt" class="commntTxt form form-control"></textarea>
                        </div>
                        <span id="{{ans.pk}}" class="badge badge-success commentSpan">Add comment</span>
                    </div>
                    <h6>Comments</h6>
                    <div class="commentDiv">
                        {% for comm in ans.comment.all|slice:":1" %}
                        <span class="badge badge-Info">{{comm.comment_by}}</span>
                        <small>{{comm.comment}}</small>
                        <br />
                        {% endfor %}

                        {%if ans.comment.count > 0 %}
                        <a href="" data-toggle="modal" data-target="#{{ans.pk}}_cmntModal">View all comments</a>
                        {% else %}
                        <small>No comments</small>
                        {% endif %}

                        <div id="{{ans.pk}}_cmntModal" class="modal fade commentModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="quesTitle">Comments</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="">
                                        <div class="" style="width:170%">
                                            <div class="">
                                                <img src="/static/image/{{ans.created_by.userprofiles.avatar}}" alt="img" style="" class="quesImg" />
                                                <span style="font-weight:bold">
                                                    {{ans.created_by}}
                                                </span>
                                                <div>
                                                    <small>{{ans.created_on}}</small>
                                                </div>
                                            </div>
                                            <div style="margin-top:0.85%">
                                                <p class="ansFont">{{ans.ans | safe}}</p>
                                            </div>
                                        </div>
                                        <div id="{{ans.pk}}_cmnt-body" style="height:65%;padding:1%;overflow-y:auto">
                                            {% for comm in ans.comment.all %}
                                            <span class="badge badge-Info">{{comm.comment_by}}</span>
                                            <small>{{comm.comment}}</small>
                                            <br />
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                <br />
                {% endfor %}
            </div>
            <br />
            
        </div>
    </div>
{% endblock %}