{%extends 'master_page.html'%}
{% load static%}
{% block quesHome %}
    <!-- Modal -->
    <div id="ansModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ansTitle">Answer Question</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="ans-body" style="height:80%;">
                        <form method="post">
                            {% csrf_token %}
                            <!--{{form1.as_p}}-->
                            {%include 'includes/form.html' %}
                            <input type="submit" class="btn btn-success" value="Post Answer" />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="cont">
        <div class="row topicDiv">
            
            {% for t in topic %}
            <h4 id="{{t.pk}}" class="topCls"><span class="badge badge-Info">{{t.name}}</span></h4>
            &nbsp;
            {% endfor %}
        </div>
        <br />
        <div class="" id="">
            
            <div id="feed">
                <div id="">
                    <h5><span class="">{{question.name}}</span></h5>
                    <a href="#ansModal" data-toggle="modal">Write Answer</a>
                </div>
            </div>
            <br />
            <div>
                {% for ans in answer %}
                <div class="ansDiv">
                    <div class="">
                        <div class="" style="">
                            <img src="{% static 'image/dp.jpg' %}" alt="img" class="quesImg" />
                            <span style="font-weight:bold">
                                {{ans.ques.created_by}}
                            </span>
                            <div>
                                <small>{{ans.created_on}}</small>
                            </div>
                        </div>
                        <div style="margin-top:0.85%">
                            <p class="ansFont">{{ans.ans}}</p>
                        </div>
                    </div>
                    <span id="{{ans.pk}}" class="badge badge-warning upvote" style="cursor:pointer">Upvote</span>
                    <br />
                    <textarea id="{{ans.pk}}Txt" class="commntTxt form form-control"></textarea>
                    <span id="{{ans.pk}}" class="badge badge-success comment" style="cursor:pointer">Add comment</span>
                    <br />
                    {% for up in  ans.upvote.all%}
                    {{up.upvote_by}}
                    {% endfor %}
                    <h6>Comments</h6>
                    {% for comm in  ans.comment.all%}
                    <span class="badge badge-Info">{{comm.comment_by}}</span>
                    <small>{{comm.comment}}</small>
                    {% endfor %}
                </div>
                <br />
                {% endfor %}
            </div>
            <br />
            
        </div>
    </div>
{% endblock %}